.popup-overlay-fp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 20px;
}

.popup-box-fp {
  background-image: url(../../Assets/auth/autBG1.png);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(8px);
  padding: 30px;
  border-radius: 2em;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.popup-content-fp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group-fp {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon-fp {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: #888;
}

.otp-container-fp {
  display: flex;
  justify-content: space-between;
}

.otp-container-fp input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #f2b870;
  background-color: transparent;
  border-radius: 10px;
}

.password-field-fp {
  position: relative;
}

.eye-icon-fp {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

/* button {
  padding: 10px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 2em;
  cursor: pointer;
} */

.send-otp-button-fp {
  font-weight: bold;
    padding: 10px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.close-btn-fp {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: black;
}

.toggle-method-fp {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  .popup-box-fp {
    padding: 20px;
    border-radius: 1.5em;
  }

  .otp-container-fp input {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }

  .input-group-fp input {
    padding: 10px 10px 10px 35px;
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
